@import "./styles/variables";

html,
body {
    background: rgba($yellow, 0.08) !important;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    color: $black;
}
